body {
  background: linear-gradient(0deg, #c7ffed 20%, #015958 20%);
  height: 100%;
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  background-color: #f2e3d5;
  height: 70%;
  width: 70%;
  padding: 20px;
  margin: 50px auto;
}
h1,
h2,
h3,
h4,
ul {
  font-family: "Alegreya Sans", sans-serif;
  text-transform: uppercase;
  font-size: 4vw;
  font-weight: 300;
}

h1 {
  font-size: 5vw;
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 2vw;
  text-align: center;
}

h4 {
  font-size: 1.5vw;
  text-align: center;
}

ul {
  list-style: none;
  font-size: 1.25vw;
}
.date {
  font-family: "Alegreya Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.5vw;
}

.form-control {
  border-radius: 20px;
  font-family: "Alegreya Sans", sans-serif;
  text-transform: uppercase;
  height: 30px;
}
.form-control:focus {
  border-width: 1px;
  box-shadow: 0 0 2px 0;
  transition: 200ms ease-in-out;
}
.location-button {
  height: 29px;
  background-color: white;
  border: none;
}
.location-button:hover {
  color: #ffdd17;
  cursor: pointer;
}
.search-bar {
  align-items: center;

  max-width: 60vw;
  margin: 0 auto;
}
.search-button {
  border-radius: 20px;
  height: 30px;
  background-color: #ffdd17;
}
.search-button:hover {
  color: #ffdd17;
  cursor: pointer;
  background-color: black;
  transition: 200ms ease-in-out;
}
ul {
  font-family: "Alegreya Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1vw;
}
.temperature,
.celsius,
.fahrenheit,
.bar {
  font-size: 2vw;
  font-family: "Alegreya Sans", sans-serif;
  text-transform: uppercase;
}
.day {
  font-family: "Alegreya Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.2vw;
  font-weight: 400;
}
.black {
  color: black;
}
.gray {
  color: gray;
}
.bar {
  color: gray;
}
.celsius:hover {
  cursor: pointer;
}
.fahrenheit:hover {
  cursor: pointer;
}
.today-info {
  font-family: "Alegreya Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  align-items: center;
  margin: 0 auto;
  max-width: 70vw;
}
